body {
    margin: 0;
    background: #f4f7ff;
    font-family: Poppins, sans-serif;
}

/* NAVIGATION */
nav {
    background: #2a5cff;
    padding: 15px;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-between;
}

nav .logo {
    font-size: 22px;
    font-weight: bold;
}

nav ul {
    display: flex;
    gap: 20px;
    list-style: none;
}

nav li {
    cursor: pointer;
    font-weight: 500;
}

/* PAGE SECTIONS */
.page {
    display: none;
    padding: 30px;
}

.page.active {
    display: block;
}

.primary-btn {
    background: #2a5cff;
    color: white;
    padding: 12px 20px;
    border-radius: 6px;
    cursor: pointer;
    border: none;
}

.secondary-btn {
    background: #ddd;
    padding: 12px 20px;
    border-radius: 6px;
    cursor: pointer;
    border: none;
}

form input, form select {
    width: 300px;
    padding: 12px;
    margin-bottom: 15px;
    border-radius: 6px;
    border: 1px solid #ccc;
    display: block;
}

.result-card {
    background: white;
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

/* UNIVERSITY LIST */
#uniList {
    margin-top: 20px;
}

.uni-card {
    background: white;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 12px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
